#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('welcome') /}

<div class="container">

    #{messages /}

    <div class="offset3">
        <header class="jumbotron subhead">
            <h1>Welcome to Tribes!</h1>
        </header>
    </div>
    <div class="row">
        <div class="btn-group offset5">
            <a class="btn btn-large btn-warning" href="@{Game.login()}">Login</a>
            <a class="btn btn-large btn-warning" href="@{Game.signup()}">Signup</a>
        </div>
    </div>
</div>
