#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('signup') /}

<div class="container">
    <div class="row" id="signup-form">
        <div>
            #{form @Security.signup()}

                <h5>&{'signup'} and join the battle!</h5>

                <label>&{'name'}
                    <span class="small">choose your player name</span>
                </label>
                <input type="text" class="input-xlarge" name="name" value="${flash.name}"/>

                <label>&{'email'}
                    <span class="small">add a valid address</span>
                </label>
                <input type="text" class="input-xlarge" name="email" value="${flash.email}"/>

                <label>&{'password'}
                    <span class="small">secure your account</span>
                </label>
                <input type="password" class="input-xlarge" name="password" value="${flash.password}"/>

                <label>&{'confirmation'}
                    <span class="small">and confirm your password</span>
                </label>
                <input type="password" class="input-xlarge" name="confirmation" value="${flash.confirmation}"/>

                <button class="btn btn-danger btn-large" type="submit">Create account</button>
                <div class="spacer"></div>
            #{/form}
        </div>
    </div>
</div>
